@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@300&display=swap');

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}
  
h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    text-align: center;
    font-size: 2rem;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    padding: .8rem 1rem;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
    border-radius: 30px;
    font-weight: bold;
}